# Folders:

node_modules/
.vscode/
.mct/
lib/
dist/

# Individual Files:

.env
.DS_store
Thumbs.db

# single-user globs...

# for theLifeMModder:

.docs/githubinfo.json
.docs/project_gitconfig_contents_10082026.ini
