# Folders:

node_modules/
.vscode/
.mct/
lib/
dist/

# Individual Files:

.env
.DS_store
Thumbs.db

# single-user globs...

# for theLifeMModder:

.docs/githubinfo.json
.docs/project-gitconfig-contents-10082026.ini